<!DOCTYPE html>
<html lang="en">
    <head>

        {% load static %}
        
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Gestion Biblioteca</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'bibliogestion/assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'bibliogestion/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- navbar-->
      {% include 'bibliogestion/components/navbar.html'%}
        <!-- inicio Contenido-->
    <section class="features-icons bg-light text-center">
     {% include 'bibliogestion/content.html'%}
     {% block content %}{% endblock content %}
        <!-- Footer-->
      {% include 'bibliogestion/components/footer.html'%}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'bibliogestion/js/scripts.js' %}"></script>
    </body>
</html>
