<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario nuevo vendedor</title>
</head>
<body>
    <div class="container mt-5">
        {% if formulario.errors %}
        <p style="color: red"> Verificar que los datos sean correctos</p>
        {% endif %}
            
    
        <form action="/bgestion/vendedores/" method="POST" class="form-group">
            {% csrf_token %}
            <table class="table">
                {{formulario.as_table}}
            </table>
    
            <input type="submit" value="Cargar vendedor" class="btn btn-primary">
        </form>
    
    </div>
    
    
    <div class="container mt-5">
        <table class="table">
    
            <thead>
                <tr>
                    <th class="table-success">Nombre</th>
                    <th class="table-success">Apellido</th>
                    <th class="table-success">DNI</th>
                </tr>
            </thead>
    
            <tbody>
                {% for curso in cursos %}
                    <tr>
                    <td>{{vendedor.nombre}}</td>
                    <td>{{vendedor.apellido}}</td>
                    <td>{{vendedor.dni}}</td>
                    </tr>
                {% endfor %}
            </tbody>
    
    
        </table>
    </div>
</body>
</html>