{% extends 'bibliogestion/index.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Hola vendedor</h1>
<div class="conteiner px-4 px-lg-5">

    <p>Esto es un texto de prueba</p>
    <div class="container mt-5">
        {% if formulario.errors %}
        <p style="color: red"> Verificar que los datos sean correctos</p>
        {% endif %}
            
    
        <form action="/bgestion/vendedores/" method="POST" class="form-group">
            {% csrf_token %}
            <table class="table">
                {{formulario.as_table}}
            </table>
    
            <input type="submit" value="Cargar vendedor" class="btn btn-primary">
        </form>
    
    </div>
    
    
    <div class="container mt-5">
        <table class="table">
    
            <thead>
                <tr>
                    <th class="table-success">Nombre</th>
                    <th class="table-success">Apellido</th>
                    <th class="table-success">DNI</th>
                </tr>
            </thead>
    
            <tbody>
                {% for curso in cursos %}
                    <tr>
                    <td>{{vendedor.nombre}}</td>
                    <td>{{vendedor.apellido}}</td>
                    <td>{{vendedor.dni}}</td>
                    </tr>
                {% endfor %}
            </tbody>
    
    
        </table>
    </div>

</div>
</div>

{% endblock content %}